* {
  background-color: black;
  text-align: center;
}

h1 {
  font-family: verdana;
  font-weight:normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

h2 {
  font-family: verdana;
  font-weight: 300;
  font-size: 42px;
  color: white
}

.paratext {
  font-family: verdana;
  font-size: 21px;
  color: gray;
}

.lien a{
  color: aquamarine;
  font-size: 16px;
}

.cpyrgt {
  text-align: right;
  color: gray;
}
